<div>
  <div class="panel panel-default">
    <ng-container *ngIf="!editing; else elseBlock">
      <div *ngIf="isAdmin" class="pull-right">
        <button (click)="editing=true" class="btn btn-success">編集する</button>
      </div>
      <div class="panel-heading">お知らせ</div>
      <div class="panel-body" style="white-space: pre-wrap">{{notice}}</div>
    </ng-container>
    <ng-template #elseBlock>
      <div *ngIf="isAdmin" class="pull-right">
          <button (click)="saveNotice()" class="btn btn-info">保存する</button>
      </div>
      <div class="panel-heading">お知らせ</div>
      <textarea style="width: 100%;" rows="20" class="panel-body" [(ngModel)]="notice"></textarea>

    </ng-template>
</div>
